<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>#30contribs/phpx2016 - Consulte suas contribuições para a ação</title>
  <meta name="description" content=" - Consulte suas contribuições para a ação" />
  <meta itemprop="name" content="#30contribs">
  <meta itemprop="description" content="#30contribs/phpx2016 - Consulte suas contribuições para a ação">
  <meta property="og:name" content="#30contribs">
  <meta property="og:description" content="#30contribs/phpx2016 - Consulte suas contribuições para a ação">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- style CSS -->
  <link href="style.css" rel="stylesheet">
</head>
<body ng-controller="FieldCtrl">
  <div class="presentation">
    <div class="container">

      <div class="title">
        <h1>Consulte suas contribuições para a ação #30contribs/phpx2016</h1>
        <p><a href="https://github.com/30contribs/phpx2016" class="link">Github</a></p>
      </div>

      <div class="form">
        <form name="form" novalidate>
          <p>
            <input type="text" name="githubUser" ng-model="githubUser" value="" placeholder="Seu usuário no GitHub" required=""/>
          </p>
          <p>
            <button ng-click="loadPullRequests()" class="btn btn-default">Consultar seus Pull Requests</button>
          </p>
        </form>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="container">
      <h1>Sobre</h1>

      <p>
        <span class="about-me-span">
          O Hussani Oliveira (<a href="https://github.com/hussani">https://github.com/hussani</a>) e o Rogerio Prado de Jesus (<a href="https://github.com/rogeriopradoj">https://github.com/rogeriopradoj</a>), evangelistas do PHPSP (<a href="http://phpsp.org.br/">http://phpsp.org.br/</a>), querem incentivar mais pessoas a contribuir com projetos open source, na pegada do #30contribs e do saudoso #SouPHPSP!
        </span>
      </p>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js"></script>
  <script>
    var iframe = document.getElementById('iframe');
    var angularapp = angular.module('myApp', ['ngSanitize']);
    angularapp.controller('FieldCtrl', function ($scope, $sce) {
      var iframeclass = '';
      $scope.loadPullRequests = function() {
        if ("undefined" != typeof $scope.githubUser && $scope.githubUser.length > 0) {
            // add a class of which template we are in
            iframeclass = $scope.githubUser;
            var githubUrl = "https://github.com/search?utf8=%E2%9C%93&q=author%3A" + $scope.githubUser + "+type%3Apr+is%3Apublic+created%3A2016-03-01T00%3A00%3A00-03%3A00..2016-03-13T23%3A59%3A59-03%3A00&type=Issues&ref=30contribs";
            window.open(githubUrl, '_blank')
        }
      };
    });
  </script>
</body>
</html>
